{% extends 'base.html' %}
{% block title %}
    {% for category in categories %}
    {{ category.title }}
    {% endfor %}
{% endblock %}
{% block content %}
<body>
    {% if request.user.is_authenticated  %}
        <p style="font-weight: bold; float: right; margin-right: 33px">{{ request.user.username }}</p>
    {% else %}
    <p>
        <a href="{% url 'login' %}" class="is_not_authenticated" style="font-weight: bold; float: right; margin-right: 33px">Sing in</a>
        <a href="{% url 'register' %}" class="is_not_authenticated" style="font-weight: bold; float: right; margin-right: 33px">Sing up</a>
    {% endif %}
{% for category in categories %}
    <p style="margin-top: 10px; margin-left: 5px; font-weight: bold;">
        <a href="{% url 'index' %}" class="on_main_page">На главную</a><br>
    </p>
    <p style="text-align: center; font-size: 35px;">{{ category.title }}</p>
    <section class="mt-5 pt-3">
        <div class="row mb-0">
        {% for product in products %}
            {% if category.id == product.category_id %}
                <div id="cat_product">
                <a href="{% url 'product_detail' product.id %}">
                    <img id='cat_image' src="{{ product.image.url }}" style="width:15vh; height:15vh;"><br>
                </a>
                <p style="font-size: 20px">{{ product.name }}</p>
                <p style="font-size: 22px">{{ product.price }} руб.</p>
                </div>
            {% endif %}
        {% endfor %}
            </div>
        </div>
    </section>
{% endfor %}
</body>
{% endblock %}