{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% block content %}
<body style="background-color: #1d1d1d;">
    <p style="font-size: 25px;"><a href="{% url 'index' %}" style="color: orange; float: left;">На главную</a></p>
<main class="container">
    <p style="font-size: 25px;"><a href="{{ request.META.HTTP_REFERER }}" style="color: orange; float: left;">Назад</a></p><br>
    <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form method="post" action="" id="register_form">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-warning" style="margin-top: 10px; font-size: 20px;">Sign in</button>
        </form>
    </div>
</main>
</body>
{% endblock %}
