{% extends "base.html" %}
{% load static %}
{% block title %}
Your shopping cart
{% endblock %}
{% block content %}
<body  style="background-color: white;">
<h1 style="padding-left: 10px;">Корзина</h1>
<div style="margin: 0;">
    {% if cart|length > 0 %}
    <p style="float: right; font-weight: bolder ;color: black; text-decoration-line: none">
        Товары: {{ total_items.count }} шт.
        ({{ cart.get_total_price }} руб)
    </p>

    <ul style="list-style-type: none; padding-left: 10px;">
        {% for item in cart %}
        {% with product=item.product %}
        <li style="margin-top: 60px">
            <img style="width:15vh; height:15vh;  margin:0;" src="{{ product.image.url }}">
        </li>
        <form action="{% url 'cart_add' product.id %}" method="post">
            {% csrf_token %}
            {{ product.name }}
            {{ item.total_price }}
            {{ item.quantity }}
            ss {{ item.update_quantity }} ss
            <input type="submit" class="" value="Обновить количество">
        </form>
        <li><a class="" href="{% url 'cart_remove' product.id %}">Удалить</a></li>
        <li class="num">Всего: {{ item.total_price }} руб</li>
        {% endwith %}
        {% endfor %}
        <li class="total">
            <td> Общая стоимость:</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} руб</td>
        </li>
    </ul>
    {% else %}
    {{ cart|length }}
    Тут пусто
    {% endif %}
        </div>
</div>
</body>
{% endblock %}