{% extends 'base.html' %}
{% block title %}
{% for category in categories %}
{{ category.title }}
{% endfor %}
{% endblock %}
{% block content %}
<body>
    {% for category in categories %}
<p style="text-align: center; font-size: 35px;">{{ category.title }}</p>
    <main class="container mt-3">
 <form class="form-inline mb-3" action="{% url 'search' %}" method="get">
    <div class="form-group col-8 col-md-10 pl-0">
        <input class="form-control w-100" type="search"  type="text" placeholder="Поиск по сайту"
               aria-label="Поиск по сайту" name="search">
    </div>
    <div class="form-group col-4 col-md-2 pl-0">
        <button class="btn btn-info" type="submit">Найти</button>
    </div>
    </form>
    <p>Например:
        <a href="#" class="text-dark border-bottom border-dark m-2 text-decoration-none">Samsung</a>
        <a href="#" class="text-dark border-bottom border-dark m-2 text-decoration-none">Dualsense</a>
</main>
</p>
<section class="mt-5 pt-3">
    <div class="row mb-0">
        {% for product in products %}
        {% if category.id == product.category_id %}
        <div id="cat_product">
            <a href="{% url 'product_detail' product.id %}">
                <img src="{{ product.image.url }}" style="width:15vh; height:auto;"><br>
            </a>
            <p style="font-size: 20px">{{ product.name }}</p>
            <p style="font-size: 22px">{{ product.price }} руб.</p>
    <form method="post" action="{% url 'cart_add' product.id %}">
        <p style="display: none"></p>
        {{ form }}
        {% csrf_token %}
        {% if request.user.is_authenticated %}
        <input type="submit" value="Add to cart">
        {% else %}
        <p>Войдите, чтобы добавить в корзину</p>
        {% endif %}
    </form>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
</section>
{% endfor %}
</body>
{% endblock %}
