{% extends 'base.html' %}
{% block title %}
List
{% endblock %}
{% block content %}
<body style="background-color: whitesmoke;">
<p style="text-align: center; font-size: 35px;">{{ category.title }}</p>
    <main class="container mt-3">
 <form class="form-inline mb-3" action="{% url 'search' %}" method="get">
    <div class="form-group col-8 col-md-10 pl-0">
        <input class="form-control w-100" type="search"  type="text" placeholder="Поиск по сайту"
               aria-label="Поиск по сайту" name="search">
    </div>
    <div class="form-group col-4 col-md-2 pl-0">
        <button class="btn btn-info" type="submit">Найти</button>
    </div>
    </form>
    <p>Например:
        <a href="#" class="text-dark border-bottom border-dark m-2 text-decoration-none">Samsung</a>
        <a href="#" class="text-dark border-bottom border-dark m-2 text-decoration-none">Dualsense</a>
</main>
{% for product in products %}
<main class="container mt-3" style="text-align: center; max-width: 500px;">
    <div style="border: 5px solid white; background-color: white;">
        <a href="{% url 'product_detail' product.id %}">
            <img src="{{ product.image.url }}" style="width:15vh; height:auto;"><br>
        </a>
        <p style="font-size: 20px">{{ product.name }}</p>
        <p style="font-size: 22px">{{ product.price }} руб.</p>
        <p style="font-size: 20px">Кол-во {{ product.quantity }}</p>


        <form method="post" action="{% url 'cart_add' product.id %}"><br>
            <p style="display: none"></p>
            {{ form }}
            {% csrf_token %}
            {% if request.user.is_authenticated %}
            <input type="submit" value="Add to cart">
            {% if error %}
                {{ error }}
            {% endif %}
            {{ error }}
            {% else %}
            <p>Войдите, чтобы добавить в корзину</p>
            {% endif %}
        </form>
    </div>
    </div>
    </div>
</main>
{% endfor %}
</body>
{% endblock %}
