{% extends 'base.html' %}

{% block title %} Main Page {% endblock %}

{% block content %}
<body id="body">
<div id="block_element">
    <h2 id="Main_page_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </h2>
</div>
<section class="mt-5 pt-3">
    <div class="row mb-0">
        {% for category in categories %}
        <div class="col-4 col-md-6 col-lg-3" style="height: 0;">
            <div class=""
                 style="background-color: black; margin-top: 405px; opacity: 0.9; border-radius: 3px; width: 190px; margin-left: 5vw">
                {% if category.picture %}
                <a href="{% url 'category' category.code %}" id="picture"><img id="category_main_picture" class="mx-auto d-block" src="{{ category.picture.url }}" width="80"
                                              height="80" alt=""></a>
                {% endif %}
                <div class="card-body">
                    <p id="categories">{{ category.title }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
</body>
{% endblock %}